.tempLogin {
    font-family: 'Salsa', sans-serif, 'Intel';
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.login-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.login-left,
.login-right {
    flex: 1;
    min-height: 100vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-left {
    background-color: #ffffff;
    width: 50%;
    padding-left: 20px; /* Shift content left to allow room for the logo */
}

.login-right {
    background-color: #A6CE39;
    width: 50%;
    text-align: center;
}

.login-header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.palate-logo {
    width: 120px;
    height: auto; /* Maintain aspect ratio to avoid distortion */
}

.login-form h2 {
    color: #86c640;
    font-size: 32px;
    margin-bottom: 10px;
}

.login-form p {
    color: #7f7f7f;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #7f7f7f;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #86c640;
    font-size: 14px;
    text-decoration: none;
}

.btn-signin {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #86c640;
    border: 2px solid #86c640;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-signin:hover {
    background-color: #86c640;
    color: white;
}

.login-right h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Salsa', sans-serif, 'Intel';
    font-weight: 400;
}

.login-right p {
    color: white;
    margin-bottom: 20px;
    width: 80%;
    font-family: 'Salsa', sans-serif, 'Intel';
    font-weight: 400;
}

.btn-signup {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: 140px; /* Adjusted width for medium button size */
}

.btn-signup:hover {
    background-color: #86c640;
    color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
        height: auto;
    }

    .login-left,
    .login-right {
        width: 100%;
        padding: 20px;
        min-height: auto;
    }

    .login-right p {
        width: 100%;
    }
}
